<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Kanit:wght@300&display=swap" rel="stylesheet">
  <title>To do list</title>
</head>
<header>
  <nav class="work-today-nav">
    <div class="container">
        <ul id="work">
            <a id="workitem" href="/" style="text-decoration: none; color: #432818;">
                <!-- Custom clipboard icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="black" stroke-width="2" viewBox="0 0 16 16">
                    <rect x="2" y="3" width="12" height="10" rx="2" ry="2" stroke="none" />
                    <rect x="2" y="3" width="12" height="10" rx="2" ry="2" fill="none" />
                </svg>
                Today
            </a>
        </ul>
        <ul id="today">
            <a id="todayitem" href="/work" style="text-decoration: none; color: #432818; ">
                <!-- Custom calendar icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="black" stroke-width="2" viewBox="0 0 16 16">
                    <rect x="1" y="2" width="14" height="12" rx="2" ry="2" stroke="none" />
                    <rect x="1" y="2" width="14" height="12" rx="2" ry="2" fill="none" />
                    <line x1="4" y1="1" x2="4" y2="5" />
                    <line x1="12" y1="1" x2="12" y2="5" />
                    <line x1="1" y1="8" x2="15" y2="8" />
                </svg>
                Work
            </a>
        </ul>
    </div>
</nav>

</header>
</html>